body {
    font-family:sans-serif;
    background-color: #f4f4f4;
    color: #333;
    text-align: center;
}

.container {
    max-width: 600px;
    margin: 100px auto;
}

.brand-name{
    font-size: 4em;
    font-family: 'Courier New', Courier, monospace;
}

.center-content {
    text-align: center;
}

.logo {
    width: 100%; 
    max-width: 200px;
    min-width: 100px;
    margin-bottom: 10px;
    border-radius: 50%;
}

h2 {
    font-size: 1.5em;
    color: #555;
}

#countdown {
    font-size: 20px;
    margin-top: 20px;
}
